# Google Earth Engine / GFW
GFW_API_TOKEN=

# Copernicus Data Space Ecosystem
CDSE_USERNAME=
CDSE_PASSWORD=

# Copernicus Marine
COPERNICUSMARINE_SERVICE_USERNAME=
COPERNICUSMARINE_SERVICE_PASSWORD=

# Copernicus Climate Data Store
CDS_API_KEY=
